.block-editor-block-list__block.wp-block[data-type="plugin-slug/team-members"] {
    display: block;

    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            > .block-editor-inner-blocks 
            > .block-editor-block-list__layout {
                > [data-type="plugin-slug/team-member"] {
                    width: calc(100% / #{$i});
                    margin-right: 0;
                }
                .block-list-appender {
					align-self: stretch;
					width: calc(100% / #{$i});
					border: 1px dashed;
					display: block;
					align-items: center;
					justify-content: center;
					min-height: 50px;
                    position: unset;
                }
            }
        }
    }

    > .block-editor-inner-blocks .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        > [data-type="plugin-slug/team-member"] {
            margin-bottom: 20px;
            .block-editor-media-placeholder {
                margin-bottom: 20px;
            }
            .wp-block-plugin-slug-team-member-img {
                position: relative;
                margin-bottom: 20px;
                &.is-loading {
                    opacity: 0.3;
                }
                .components-spinner {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            h4 {
                color: #222;
                font-size: 25px;
                font-weight: 500;
                margin: 0;
            }
            p {
                color: #565656;
                font-size: 16px;
                font-weight: 400;
                margin: 5px 0;
            }
            .wp-block-plugin-slug-team-member-social-links {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 15px -5px 0;

                    li {
                        display: inline-block;
                        margin: 5px;

                        span.dashicon {
                            color: #4e4e4e;
                        }

                        &.is-selected {
                            outline: 1px dashed purple;
                        }

                        button {
                            padding: 0;
                            border: none;
                            background: none;
                            cursor: pointer;
                            margin: 0;
                        }

                        &.wp-block-plugin-slug-team-member-add-icon-li {
                            button {
                                outline: 1px dashed;
                            }
                        }
                    }
                }
            }
        }
    }
}